:host{
    position: relative;
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}
.form{
    width: 100%;
    display: block;
}
.userName{
    width: 100%;
    display: block;
    height: 3em;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.submitButton{
  display: block;
  width: 100%;
  max-width: 130px;
  margin: 90px auto 10px auto;
  background: none;
  padding: 10px;
  border: 1px solid blue;
  color: black;
  border-radius: 5px;
}
